# Turso (libSQL) database
TURSO_DATABASE_URL=libsql://project-nova-pentale0.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA1MDEzOTUsImlkIjoiMDFhMGUyMzItZGUwMS03YmM3LWIzNzctNjE4N2Y4NTQ5M2JiIiwia2lkIjoiSHdUZlRRT1U0T3NkSDExVHMzZU9zbnlGaTQ3R3RMUk1laGQ5T201UmtGbyIsInJpZCI6IjkwNDliNDAxLTVhYTUtNGY2ZC05MjFhLTk1NDkwODk3OTdkNyJ9.j_-JxipvEaw2oTyUPeynKKkSt8cIhr21sys8gjsZLHJT8o6m-H5lFsKqFUgyV_fQDgJMlugmdo1qvcAtXHG-Bw

# Gemini API
GEMINI_API_KEY=AQ.Ab8RN6K3peHhVPLt4YDVBzrvPjZPh627OkU41EaUsE5MqrCrEg

# Session signing — generate with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=6b5b8d924576ef68c045277fc1e78e7b6b23903f44d239756f8b9bf96200cd57
